<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <a href="/sistema/contato">Contato</a>
    <a href="/sistema/calculadora">Calculadora</a>
    <h1>Olá mundo</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ipsum, quo perferendis aut doloribus officia maxime rerum quod voluptate quia libero hic saepe iure voluptas minus! Veniam exercitationem maxime expedita.
    Error, qui iste? Unde, aspernatur! Aliquid sunt ipsum dolorem quo, incidunt consequatur pariatur mollitia quisquam fuga consectetur, sit in repudiandae atque quidem! Ullam voluptate recusandae nostrum quod quaerat, totam ut.</p>
</body>
</html>